@using StayWell.ServiceDefinitions.Content.Objects
@using StayWell.WebExample.Models

@{
    ViewBag.Title = "Video Library";
}

<div class="section-header">
    <h1>Video Library</h1>
</div>

<span id="LoadingVideoLibrary" class="loading-indicator"><img src='/Images/ajax-loader-indicator-lite.gif' alt='Loading' title='Loading' /> Loading...</span>
<div id="VideoLibrary" class="row video-library"></div>

@section scripts {
    <script type="text/javascript">
        Handlebars.registerHelper("moduloIf", function (index_count, mod, block) {
            if (parseInt(index_count) % (mod) === 0) {
                return block.fn(this);
            }
        });

        Handlebars.registerHelper("moduloIfLast", function (index_count, last, mod, block) {
            if ((parseInt(index_count) + 1) % (mod) === 0) {
                return block.fn(this);
            }

            if (last) {
                return block.fn(this);
            }
        });

        Handlebars.registerHelper("divide", function (index_count, mod) {
            return Math.floor(parseInt(index_count) / mod);
        });

        Handlebars.registerHelper('ifElseBlank', function (val, options) {
            var fnTrue = options.fn, fnFalse = options.inverse;
            if (val == undefined || val == "") return fnTrue();
            else return fnFalse();
        });

        Handlebars.registerHelper('ifGreaterThan', function (value1, value2, options) {
            var fnTrue = options.fn, fnFalse = options.inverse;
            if (parseInt(value1) > parseInt(value2)) return fnTrue();
            else return fnFalse();
        });

        $(document).ready(function () {
            LoadVideos("cardiovascular");
            LoadVideos("cancer");
            LoadVideos("diabetes");
            LoadVideos("digestive");
            LoadVideos("general-health");
            LoadVideos("neurology");
            LoadVideos("obstetrics-gynecology");
            LoadVideos("respiratory");
            LoadVideos("wellness");
        });

        var _loadingCount = 0;
        function RegisterLoading()
        {
            _loadingCount++;
            $("#LoadingVideoLibrary").show();
        }

        function DeregisterLoading() {
            _loadingCount--;
            if (_loadingCount == 0) $("#LoadingVideoLibrary").hide();
            if (_loadingCount < 0) _loadingCount = 0;
        }

        function LoadVideos(categorySlug) {
            RegisterLoading();

            var placeHolder = "placeholer-" + categorySlug;
            $("#VideoLibrary").append("<span id='" + placeHolder + "'></span>");

            $.ajax({
                type: "GET",
                url: "/api/videolibrary/" + categorySlug,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.Items.length > 0) {
                        msg = FillPlaceHolderVideos(msg);
                        DisplayVideoLibrary(msg, placeHolder);
                    }
                    DeregisterLoading();
                },
                error: function (request, status, error) {
                    console.log(error);
                    DeregisterLoading();
                }
            });
        }

        //Add placeholder objects so that the full UI can be built.
        //The other videos will be lazily loaded one the next or previous button
        //is clicked.
        function FillPlaceHolderVideos(category) {
            if (category.Total > category.Items.length) {
                var totalToAdd = category.Total - category.Items.length;
                for (var i = 0; i < totalToAdd; i++) {
                    var placeHolderObject = {
                        Blurb: "Loading...", Title: "Loading..."
                    };
                    category.Items.push(placeHolderObject);
                }
            }
            return category;
        }

        function DisplayVideoLibrary(category, htmlId) {
            Handlebars.registerPartial("videoItemPartial", $("#video-item-template").html());
            var source = $("#video-category-template").html();
            var template = Handlebars.compile(source);

            var html = template(category);
            $("#" + htmlId).html(html);

            $("#Carorusel-" + category.Slug).on('slide.bs.carousel', function (event) {
                var page = $(event.relatedTarget).data("page");
                var slug = $(event.relatedTarget).data("slug");
                var isLoaded = $(event.relatedTarget).data("isloaded");

                if (!isLoaded) {
                    LoadVideoPage($(event.relatedTarget), slug, page * 4, 4);
                    $(event.relatedTarget).data("isloaded", true);
                }

            });
        }

        function LoadVideoPage(target, categorySlug, skip, top) {
            $.ajax({
                type: "GET",
                url: "/api/videolibrary/" + categorySlug + "?skip=" + skip + "&top=" + top,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    var panels = target.find(".panel");
                    for (var i = 0; i < msg.Items.length; i++) {
                        var imageAsset = $(panels[i]).find("img");
                        imageAsset.attr('src', msg.Items[i].ImageUri);
                        imageAsset.attr('alt', msg.Items[i].Title);
                        imageAsset.attr('title', msg.Items[i].Title);
                        $(panels[i]).find("a").attr('href', "/Content/" + msg.Items[i].BucketSlug + "/" + msg.Items[i].Slug);
                        $(panels[i]).find(".placeholder-title").html(msg.Items[i].Title);
                        $(panels[i]).find(".placeholder-viewcount").html(msg.Items[i].ViewCount);
                        $(panels[i]).find(".placeholder-duration").html(msg.Items[i].Duration);
                    }
                },
                error: function (request, status, error) {
                    console.log(error);
                }
            });
        }


    </script>

    <script id="video-category-template" type="text/x-handlebars-template">
        <a href="/Content/Videos/{{Slug}}" class="section-link">{{Title}} ({{Total}})<span class="right-button"><span class="glyphicon glyphicon-chevron-right"></span></span></a>
        <div id="Carorusel-{{Slug}}" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                {{#each Items}}
                {{#moduloIf @@index 4}}
                <div class="item {{#if @@first}}active{{/if}}" data-slug="{{../../Slug}}" data-page="{{divide @@index 4}}" data-isloaded="{{#if @@first}}true{{else}}false{{/if}}">
                    <div class="row">
                        {{/moduloIf}}
                        {{> videoItemPartial  }}
                        {{#moduloIfLast @@index @@last 4}}
                    </div>
                </div>
                {{/moduloIfLast}}
                {{/each}}
            </div>
            {{#ifGreaterThan Items.length 4}}
                <a class="left carousel-control" href="#Carorusel-{{../Slug}}" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#Carorusel-{{../Slug}}" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            {{/ifGreaterThan}}
        </div>
    </script>

    <script id="video-item-template" type="text/x-handlebars-template">
        <div class="panel col-xs-3">
            <div class="panel-body content-thumbnail">
                <a href="{{#ifElseBlank this.Slug}}#{{else}}/Content/{{../BucketSlug}}/{{../Slug}}{{/ifElseBlank}}">
                    <span class="media-link"><img alt="{{Title}}" title="{{Title}}" class="img-responsive media-thumbnail" src="{{#ifElseBlank ImageUri}}/Images/imagePlaceholder.png{{else}}{{../ImageUri}}{{/ifElseBlank}}" style="display: block;"><span class="media-icon"><span class="glyphicon glyphicon-play"></span> <span class="placeholder-duration">{{Duration}}</span></span></span>
                </a>
            </div>
            <div class="panel-footer"><strong><span class="placeholder-title">{{Title}}</span></strong><br /><span class="meta-data">Views: <span class="placeholder-viewcount">{{ViewCount}}</span></span></div>
        </div>
    </script>
}
