@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StayWell API</h1>
    <p class="lead">The StayWell API is the primary way to interact with StayWell's products, services, and content in a programmatic way.  It enables you to search for, retrieve, and render the StayWell content quickly and easily.  It also provides a way to interact with our many other products and services enabling you to integrate, extend, and build your own solutions to help your users live a healthier life and StayWell.</p>
    <p><a href="https://admin.kramesstaywell.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About StayWell</h2>
        <p>
            We fuse expertise in health engagement and the science of behavior change with an integrated portfolio of solutions and robust content assets.
        </p>
        <p><a class="btn btn-default" href="http://www.staywell.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>
            Visit the full set of StayWell API documentation.  Get an overview of the API, learn about the content types, and explore the raw http API.
        </p>
        <p><a class="btn btn-default" href="https://admin.kramesstaywell.com/docs#articles/home-page">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Client Libraries</h2>
        <p>Download the latest open source client access libraries.</p>
        <p><a class="btn btn-default" href="https://github.com/StayWell/">Learn more &raquo;</a></p>
    </div>
</div>