<?xml version="1.0"?>
<ContentCategoryList>
  <Categories>
    
    <Category Slug="patient-education">
      <Names>
        <Name LanguageCode="en">Patient Education</Name>
        <Name LanguageCode="es">Información de salud</Name>
      </Names>
      <Buckets>
        <Bucket Slug="healthsheets-v1" />
      </Buckets>
    </Category>

    <Category Slug="diseases-and-conditions">
      <Names>
        <Name LanguageCode="en">Diseases and Conditions</Name>
        <Name LanguageCode="es">Biblioteca de Salud del Adulto</Name>
      </Names>
      <Buckets>
        <Bucket Slug="adult-diseases-and-conditions-v0" />
        <Bucket Slug="adult-diseases-and-conditions-v1" />
        <Bucket Slug="diseases-and-conditions" />
      </Buckets>
    </Category>

    <Category Slug="pediatric-diseases-and-conditions">
      <Names>
        <Name LanguageCode="en">Pediatric Diseases and Conditions</Name>
        <Name LanguageCode="es">Biblioteca Pediátrica De la Salud</Name>
      </Names>
      <Buckets>
        <Bucket Slug="pediatric-diseases-and-conditions-v0" />
        <Bucket Slug="pediatric-diseases-and-conditions-v1" />
      </Buckets>
    </Category>

    <Category Slug="tests-and-procedures">
      <Names>
        <Name LanguageCode="en">Tests and Procedures</Name>
        <Name LanguageCode="es">Cirugías y procedimientos</Name>
      </Names>
      <Buckets>
        <Bucket Slug="tests-and-procedures-v0" />
        <Bucket Slug="tests-and-procedures" />
        <Bucket Slug="adult-tests-and-procedures-v1" />
        <Bucket Slug="pediatric-tests-and-procedures-v1" />
        <Bucket Slug="lab-tests-v1" />
      </Buckets>
    </Category>

    <Category Slug="articles">
      <Names>
        <Name LanguageCode="en">Articles</Name>
        <Name LanguageCode="es">Artículos</Name>
      </Names>
      <Buckets>
        <Bucket Slug="wellness-library-v1" />
        <!--<ContentType id="22" />-->
        <Bucket Slug="online-resources-v1" />
        <Bucket Slug="cancer-source-v1" />
        <Bucket Slug="cancer-faqs-v1" />
        <Bucket Slug="prevention-planner-v1" />
        <Bucket Slug="disease-management-v1" />
        <Bucket Slug="nutritionfacts-v1" />
      </Buckets>
    </Category>

    <Category Slug="glossary">
      <Names>
        <Name LanguageCode="en">Glossary</Name>
        <Name LanguageCode="es">Glosario</Name>
      </Names>
      <Buckets>
        <Bucket Slug="glossary-v1" />
      </Buckets>
    </Category>

    <Category Slug="news">
      <Names>
        <Name LanguageCode="en">News</Name>
        <Name LanguageCode="es">Noticias</Name>
      </Names>
      <Buckets>
        <Bucket Slug="daily-news-feed-v1" />
        <Bucket Slug="newsletters" />
      </Buckets>
    </Category>
 
    <Category Slug="drugs">
      <Names>
        <Name LanguageCode="en">Drugs</Name>
        <Name LanguageCode="es">Medicamentos</Name>
      </Names>
      <Buckets>
        <Bucket Slug="alchemy-patient-education-sheets" />
      </Buckets>
    </Category>

    <Category Slug="herbs-vitamins-and-supplements">
      <Names>
        <Name LanguageCode="en">Herbs, Vitamins &amp; Supplements</Name>
        <Name LanguageCode="es">Hierbas, Vitaminas &amp; suplementos</Name>
      </Names>
      <Buckets>
        <Bucket Slug="nutritional-supplement-advisor-v1" />
      </Buckets>
    </Category>

    <Category Slug="healthy-recipes">
      <Names>
        <Name LanguageCode="en">Healthy Recipes</Name>
        <Name LanguageCode="es">Recetas Saludables</Name>
      </Names>
      <Buckets>
        <Bucket Slug="recipes-v1" />
      </Buckets>
    </Category>

    <Category slgu="interactive-tools">
      <Names>
        <Name LanguageCode="en">Interactive Tools</Name>
        <Name LanguageCode="es">Herramientas interactivas</Name>
      </Names>
      <Buckets>
        <Bucket Slug="quizzes-v1" />
        <Bucket Slug="calculators-v1" />
        <Bucket Slug="mras-v1" />
      </Buckets>
    </Category>

    <Category Slug="podcasts">
      <Names>
        <Name LanguageCode="en">Podcasts</Name>
        <Name LanguageCode="es">Herramientas interactivas</Name>
      </Names>
      <Buckets>
        <Bucket Slug="newsletter-podcasts-v0" />
        <Bucket Slug="tests-and-procedures-podcasts-v0" />
      </Buckets>
    </Category>

    <Category Slug="videos">
      <Names>
        <Name LanguageCode="en">Videos</Name>
        <Name LanguageCode="es">Videoteca</Name>
      </Names>
      <Buckets>
        <Bucket Slug="videos-v2" />
      </Buckets>
    </Category>
    
  </Categories>
</ContentCategoryList>
