<?xml version="1.0"?>
<ContentCategoryList>
  <Categories>
    <Category Slug="cardiovascular">
      <Names>
        <Name LanguageCode="en">Cardiovascular</Name>
        <Name LanguageCode="es">Cardiovascular</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug="cardiac-electrophysiology" />
        <ServiceLine Slug="cardiology" />
        <ServiceLine Slug="cardiothoracic-surgery" />
        <ServiceLine Slug="interventional-cardiology" />
        <ServiceLine Slug="stroke" />
        <ServiceLine Slug="vascular" />
      </ServiceLines>
    </Category>

    <Category Slug="cancer">
      <Names>
        <Name LanguageCode="en">Cancer</Name>
        <Name LanguageCode="es">Cáncer</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "bone-cancer" />
        <ServiceLine Slug = "brain-cancer" />
        <ServiceLine Slug = "breast-cancer" />
        <ServiceLine Slug = "colorectal-cancer" />
        <ServiceLine Slug = "gi-cancer" />
        <ServiceLine Slug = "gyn-oncology" />
        <ServiceLine Slug = "lung-cancer" />
        <ServiceLine Slug = "oncology" />
        <ServiceLine Slug = "prostate-cancer" />
        <ServiceLine Slug = "skin-cancer" />
        <ServiceLine Slug = "therapeutic-radiology" />
        <ServiceLine Slug = "urologic-cancer" />
      </ServiceLines>
    </Category>

    <Category Slug="diabetes">
      <Names>
        <Name LanguageCode="en">Diabetes</Name>
        <Name LanguageCode="es">Diabetes</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "diabetes" />
      </ServiceLines>
    </Category>

    <Category Slug="digestive">
      <Names>
        <Name LanguageCode="en">Digestive</Name>
        <Name LanguageCode="es">Digestivo</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "colorectal-cancer" />
        <ServiceLine Slug = "colorectal-conditions" />
        <ServiceLine Slug = "gastroenterology" />
        <ServiceLine Slug = "gi-cancer" />
        <ServiceLine Slug = "nephrology" />
      </ServiceLines>
    </Category>

    <Category Slug="general-health">
      <Names>
        <Name LanguageCode="en">General Health</Name>
        <Name LanguageCode="es">Salud General</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "nuclear-medicine" />
        <ServiceLine Slug = "ophthalmology" />
        <ServiceLine Slug = "oral-health" />
        <ServiceLine Slug = "pain-management" />
        <ServiceLine Slug = "pathology" />
        <ServiceLine Slug = "pediatrics" />
        <ServiceLine Slug = "plastic-surgery" />
        <ServiceLine Slug = "prostate-health" />
        <ServiceLine Slug = "radiology" />
        <ServiceLine Slug = "sleep-disorders" />
        <ServiceLine Slug = "sports-medicine" />
        <ServiceLine Slug = "surgery" />
        <ServiceLine Slug = "travel-medicine" />
        <ServiceLine Slug = "urology" />
        <ServiceLine Slug = "wellness" />
      </ServiceLines>
    </Category>

    <Category Slug="neurology">
      <Names>
        <Name LanguageCode="en">Neurology</Name>
        <Name LanguageCode="es">Neurología</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "brain-cancer" />
        <ServiceLine Slug = "neurology" />
        <ServiceLine Slug = "neurosurgery" />
        <ServiceLine Slug = "spine" />
        <ServiceLine Slug = "stroke" />
      </ServiceLines>
    </Category>

    <Category Slug="obstetrics-gynecology">
      <Names>
        <Name LanguageCode="en">Obstetrics/Gynecology</Name>
        <Name LanguageCode="es">Obstetricia/Ginecología</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "breast-cancer" />
        <ServiceLine Slug = "breast-health" />
        <ServiceLine Slug = "gyn-oncology" />
        <ServiceLine Slug = "gynecology" />
        <ServiceLine Slug = "lactation" />
        <ServiceLine Slug = "obstetrics" />
        <ServiceLine Slug = "perinatology" />
        <ServiceLine Slug = "reproductive-medicine" />
        <ServiceLine Slug = "womens-health" />
      </ServiceLines>
    </Category>

    <Category Slug="orthopedics">
      <Names>
        <Name LanguageCode="en">Orthopedics</Name>
        <Name LanguageCode="es">Ortopedia</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "bone-cancer" />
        <ServiceLine Slug = "hand-surgery" />
        <ServiceLine Slug = "orthopaedics" />
        <ServiceLine Slug = "rehabilitation" />
        <ServiceLine Slug = "rheumatology" />
        <ServiceLine Slug = "spine" />
        <ServiceLine Slug = "sports-medicine" />
      </ServiceLines>
    </Category>

    <Category Slug="respiratory">
      <Names>
        <Name LanguageCode="en">Respiratory</Name>
        <Name LanguageCode="es">Respiratorio</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "allergy" />
        <ServiceLine Slug = "asthma" />
        <ServiceLine Slug = "lung-cancer" />
        <ServiceLine Slug = "otolaryngology" />
        <ServiceLine Slug = "pulmonary" />
      </ServiceLines>
    </Category>

    <Category Slug="wellness">
      <Names>
        <Name LanguageCode="en">Wellness</Name>
        <Name LanguageCode="es">Bienestar</Name>
      </Names>
      <ServiceLines>
        <ServiceLine Slug = "bariatrics" />
        <ServiceLine Slug = "complementary-medicine" />
        <ServiceLine Slug = "dermatology" />
        <ServiceLine Slug = "emergency-medicine" />
        <ServiceLine Slug = "endocrinology" />
        <ServiceLine Slug = "environmental-medicine" />
        <ServiceLine Slug = "genetics" />
        <ServiceLine Slug = "hematology" />
        <ServiceLine Slug = "home-health" />
        <ServiceLine Slug = "hospice" />
        <ServiceLine Slug = "infectious-disease" />
        <ServiceLine Slug = "mens-health" />
        <ServiceLine Slug = "mental-health" />
        <ServiceLine Slug = "nephrology" />
      </ServiceLines>
    </Category>
  </Categories>
</ContentCategoryList>