.source-information {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    margin-top: 10px;
    font-size: .9em;
    color: #676767;
}

    .source-information ul {
        list-style: none;
        padding-left: 0px;
    }

.label-head {
    font-weight: bold;
}

.view-example {
    display: none;
}

.flowplayer {
    max-width: 640px;
}

.side-bar {
}

    .side-bar h1 {
        font-size: 1.2em;
        font-weight: bold;
        padding: 0;
        margin: 0px 0px 10px 0px;
    }

    .side-bar h2 {
        font-size: 1.1em;
        font-weight: normal;
        padding: 0;
        margin: 15px 0px 2px 0px;
    }

    .side-bar ul {
        list-style: circle;
    }

ul {
    margin: 0;
    padding-left: 15px;
    font-size: .9em;
}

.mega-menu {
    padding: 5px 30px;
}

    .mega-menu [class*="col-"] {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1em;
        line-height: 2;
    }

.menu-column h3 {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
    width: 100%;
    border-bottom: 1px solid grey;
}

.menu-column ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

.section-header {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

.video-library .panel-body {
    padding: 0px;
}

    .video-library .panel-body img {
        width: 100%;
    }

.video-library .panel-footer {
    min-height: 70px;
    margin-bottom: 0;
    padding: 5px 10px;
    font-size: .95em;
}

.video-library .glyphicon {
    font-size: .9em;
}

.video-library .panel {
    margin-bottom: 0px;
}

.video-library .meta-data {
    font-size: .8em;
}

a.section-link {
    color: #000000;
    font-size: 24px;
    min-height: 20px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
    display: block;
    padding-right: 37px;
    position: relative;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -webkit-transition: color .2s;
    transition: color .2s;
    margin-top: 20px;
}



.section-link:hover {
    background-color: #e5e5e5;
    text-decoration: none;
    color: #000000;
}

.section-link:focus {
    text-decoration: none;
}

a.section-link .right-button {
    float: right;
}

.section-link .glyphicon {
    position: absolute;
    top: 25%;
}

.column a.section-link {
    font-size: 1.2em;
    border: 0px;
    border-radius: 0px;
    margin-top: 0px;
}

    .column a.section-link:hover {
        color: black;
        text-decoration: none;
    }

.sub-section a.section-link {
    font-size: 1.2em;
}

.sub-section .row {
    margin-left: 0px;
    margin-right: 0px;
}

.sub-section h2 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 400;
    color: #000000;
    min-height: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
    display: block;
    padding-right: 37px;
    border-bottom: 2px solid #ccc;
}

.carousel-control.right, .carousel-control.left {
    background: none;
    filter: progid: none;
    background-color: black;
    opacity: .10;
    outline: 0;
}

    .carousel-control.right:hover, .carousel-control.left:hover {
        opacity: .50;
    }

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 40%;
    left: 25%;
}


.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    opacity: .75;
    filter: none;
}

h2 {
    padding-top: 0px;
    margin-top: 0px;
}

.media-link {
    color: white;
}

    .media-link:hover {
        color: #A9D0F5;
    }

.media-icon {
    background: rgba(12,12,12,.3);
    padding: 5px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1;
    position: absolute;
    bottom: 0;
    display: block;
    font-size: 1em;
    white-space: nowrap;
}

.media-link-title {
    padding-top: 5px;
}

.media-link-small {
    position: relative;
    color: white;
}

    .media-link-small:hover {
        color: #A9D0F5;
    }

    .media-link-small img {
        width: 30%;
    }

.media-link-small-title {
    font-size: 14px;
    font-weight: bold;
}


.column {
    margin-bottom: 10px;
}

    .column a {
        color: black;
        width: 100%;
        display: inline-block;
    }

        .column a:hover {
            color: #2a6496;
            text-decoration: none;
        }

    .column ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

        .column ul li {
            border-top: 1px solid #e3e3e3;
            padding: 7px;
        }

    .column li h3 {
        width: 100%;
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 0px;
        padding-top: 0px;
    }

    .column li a:hover, .column li a:focus {
        text-decoration: none;
    }

.content-thumbnail {
}

    .content-thumbnail a {
        position: relative;
    }

.content-thumbnail-small {
}

    .content-thumbnail-small a {
        width: 100%;
        position: relative;
        display: inline-block;
    }

        .content-thumbnail-small a:hover {
            text-decoration: none;
        }

    .content-thumbnail-small img {
        position: relative;
        width: 90px;
        float: left;
        padding-right: 10px;
    }

.block-display-by-2 {
    margin-bottom: 20px;
    vertical-align: top;
    background-color: #EBF7FB;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 5px;
    display: inline-block;
}

    .block-display-by-2 h2 {
        margin: 0px;
        padding: 5px 0px 3px 0px;
        font-size: 22px;
    }

    .block-display-by-2 h3 {
        margin: 0px;
        padding: 5px 0px 10px 0px;
        font-size: 18px;
    }

    .block-display-by-2 h4 {
        margin: 0px;
        padding: 5px 0px 5px 0px;
        font-size: .75em;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #555;
    }

    .block-display-by-2 .left-section {
        width: 48%;
        display: inline-block;
        float: left;
    }

        .block-display-by-2 .left-section img {
            width: 100%;
        }

    .block-display-by-2 .right-section {
        padding-left: 10px;
        width: 48%;
        display: inline-block;
    }

    .block-display-by-2 .center-info {
        float: left;
    }

    .block-display-by-2 .blurb {
        margin-bottom: 5px;
    }

.block-display {
   
}

    .block-display a, .block-display a:hover, .block-display a:focus {
        color: black;
        text-decoration: none;
    }

    .block-display .block-panel {
        padding: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
         border: 0px solid #555;
         margin-top: 10px;
         margin-bottom: 10px;
    }

    .block-display .inner-block-menu {
         border: 2px solid #ffffff;
        margin: 0px 2px 0px 0px;
        padding: 6px;
    }

    .block-display .inner-block {
        border: 2px solid #f5f5f5;
        margin: 0px 5px 0px 5px;
        padding: 6px;
    }

    .block-display h3 {
        margin: 0px;
        padding: 5px 0px 10px 0px;
        font-size: 18px;
    }

    .block-display h4 {
        margin: 0px;
        padding: 5px 0px 5px 0px;
        font-family: lft-etica, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: .75em;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #555;
    }

    .block-display .blurb {
        font-family: source-sans-pro, 'Helvetica Neue', sans-serif;
        font-size: 0.875em;
    }

    .block-display .block-top {
        height: 225px;
    }

.client-cta {
    padding: 10px;
    border: 1px solid #e3e3e3;
    font-size: 1.3em;
    text-align: center;
    background-color: #fffdb3;
    display: none;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.loading-indicator {
}

section {
    padding-left: 30px;
}

.section-listing h2 {
    color: #000000;
    font-size: 24px;
    min-height: 20px;
    padding: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section-listing ul {
    list-style: none;
    line-height: 22px;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 14px;
}

.listing {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

    .listing a {
        cursor: pointer;
    }

.clickable-link {
    cursor: pointer;
}

.letter {
    font-family: 'Arial Bold', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    color: #2CAAD4;
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
}

.atoz {
    margin-top: 20px;
    margin-bottom: 20px;
}

    .atoz a {
        font-family: 'Arial Bold', 'Arial';
        padding: 2px;
        font-size: 15px;
        width: 23px;
        height: 25px;
        color: #2CAAD4;
        font-weight: bold;
        text-align: center;
        border: 1px solid #2baad4;
        text-decoration: none;
        display: block;
    }

        .atoz a:hover {
            color: white;
            background-color: #2baad4;
        }


    .atoz ul {
        list-style: none;
    }

        .atoz ul li {
            display: inline-block;
        }

    .atoz .active-letter {
        color: white;
        background-color: #2baad4;
    }

.hidden-initial {
    display: none;
}

/*Overwritten Bootstrap Styles*/
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.view-all-items {
    padding-left: 15px;
}

.content-block-area ul {
    list-style: none;
}

    .content-block-area ul li {
        display: inline-block;
    }

.content-block-area .contentBlock {
    border: 1px solid #ccc;
    position: relative;
    display: block;
    height: 260px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 274px;
}

    .content-block-area .contentBlock img {
        display: block;
        max-width: 100%;
        height: auto;
        width: auto;
        position: absolute;
        top: 27px;
        left: 0;
        z-index: 1;
    }

.content-block-area .contentBlockTitle {
    display: block;
    width: 274px;
    background: #e5e5e5;
    color: black;
    padding: 5px;
    margin: 0;
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 52px;
}


.content-block-area .contentBlockBlurb {
    display: block;
    width: 274px;
    background: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);
    color: #333;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 183px;
    left: 0;
    z-index: 3;
    height: 214px;
}

.center-topic {
    padding: 10px;
    border: 1px solid #efefef;
    margin: 10px 0 20px 0px;
    box-shadow: 2px 2px 5px #efefef;
    background-color: #FeFeFe;
}

.center-topic-image {
    /*background-color: #efefef;*/
}

.center-topic hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center-feature {
    padding: 10px;
    margin: 10px 0 10px 0px;
}

    .center-feature h1, h2, h3, h4 {
        padding-top: 0px;
        margin-top: 0px;
    }

    .center-feature h2 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0px;
        font-weight: normal;
        color: #000000;
        min-height: 20px;
        padding: 5px;
        background-color: #f5f5f5;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05);
        display: block;
        padding-right: 37px;
    }

.center-feature-image {
    margin: 0px;
    padding: 0px;
}

.block-menu {
    background-color: #F2F2F2;
    padding: 10px;
    font-size: 1.1em;
}

    .block-menu ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .block-menu a {
        color: #428bca;
        width: 100%;
        text-decoration: none;
        display: inline-block;
        margin-left: 10px;
    }

        .block-menu a:visited {
            color: #428bca;
        }

        .block-menu a:hover {
            text-decoration: underline;
            color: #2a6496;
        }

.center {
    margin-left: auto;
    margin-right: auto;
}

.show-all-button {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #333333;
    background-color: #f5f5f5;
    /*border-color: #cccccc;*/
    border-color: #red;
    display: block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4285;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    .show-all-button:hover {
        outline: none;
        outline-offset: -2px;
        background-color: #e5e5e5;
    }

    .show-all-button:hover, .show-all-button:focus {
        color: #333333;
        text-decoration: none;
    }

    .show-all-button .glyphicon-chevron-down {
        color: #555;
        font-size: .8em;
    }
