@using StayWell.ServiceDefinitions.Content.Objects
@using StayWell.WebExample.Models
@model ContentList

@{
    ViewBag.Title = "SearchContent";
}

<div class="section-header">
    <h1>How To: Perform a Search</h1>
</div>

@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("SearchString") <input type="submit" value="Filter" />
    </p>
}

@if (Model.Items != null)
{
    <hr />
    <h4>Search Results</h4>
    <ul>
        @foreach (ContentResponse item in Model.Items)
        {
            <li>@item.Title</li>
        }
    </ul>
}
