<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ApplicationId" value="e6153528-1260-4378-bdef-a484010b8cfe" />
    <!--original secret: WZXOUxihRH8jyheDDFkyQVVRc8wkETNINRIqz2QyuNbcbKRRAf7JE1DVefmwg8Vo -->
    <add key="ApplicationSecret" value="EAAAAKb9qk25bwvedh0E9ufU9vNX8ZYAGO6dJimIdWaBGRny7sXT7nXnT6rmqYJ/LPul04Tt4XTAYLktghx3s1kj8hiVh59FzkZAcHHerLuXnbWLuXr2lk4LbWyhx62Y+A+Duw==" />
  </appSettings>
</configuration>