@using StayWell.ServiceDefinitions.Buckets.Objects
@using StayWell.WebExample.Models

@model ContentBucketList
@{
    ViewBag.Title = "Display Buckets";
}

<h2>Display Buckets</h2>
<ul>
    @foreach (ContentBucketResponse item in Model.Items)
    {
        <li>@item.Name</li>
    }
</ul>
