<br /><br />
<div class="panel panel-warning warning" >
    <div class="panel-body">
        This is a public demo.  As a result the results of this page have been trimmed.  
        If you want to see the full results please download the code from GitHub and run the project locally.
        You can switch out the license information in the web.config to execute the project against your
        specific license.
    </div>
</div>
