@using StayWell.ServiceDefinitions.Content.Objects
@using StayWell.WebExample.Models
@using StayWell.WebExample.Controllers

@model List<ContentReferenceModel>
@{
    ViewBag.Title = "Download All Content";
}
<div class="section-header">
    <h1>Explore License: Download All Content</h1>
</div>

<p>Downloading all content may take a long time depending on the size of the license.</p>
<a class="btn btn-primary btn-default" href="/License/DownloadContentFile">Download Content</a>


@if ((bool)ViewData[LicenseController.IS_PUBLIC_DEMO])
{
    Html.RenderPartial("_PublicDemoWarningMessage");
}